/* CSS declarations go here */

.hoge {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background: white;
}
.delete {
  cursor: pointer;
}

.ui.header > a {
  color: inherit;
}

.messages {
  max-width: 30rem;
}

.ui.form .field > input {
  font-size: 16px !important; /* iOS: prevent zoom */
}
